<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <header>
          <a href="/lions/"><h1>{{title}}</h1></a>
        </header>
        {{{body}}}
      </div>
    </div>
    <footer class=""><a href="/tigers"><button type="button" class="btn btn-primary btn-tigers">I heard you like tigers.</button></a></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
