body {
  min-height: 100%;
  color: #fff;
}

.lion-body {
  background-image: url('../images/lion_bg.jpg');
}

.tiger-body {
  background-image: url('../images/tiger_bg.jpg');
}

#wrap {
  min-height: 100%;
  position: relative;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.container, .lion, .tiger {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lions, .tigers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 60px;
}

.lion, .tiger {
  background-color: hsla(360, 100%, 100%, 0.5);
  border-radius: 5px;
  min-width: 220px;
  margin: 5px;
  padding: 5px 5px 20px 5px;
}

.btn-add {
  align-self: flex-end;
}

.btn-tiger, .btn-lion {
  align-self: flex-end;
}

form {
  min-width: 200px;
  max-width: 300px;
}

.update {
  margin-right: 20px;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
